.center {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* max-width: 33%;
    max-height: 33%; */
}

.background {
    background-color: #d0f0c0;
}

.box {
    width: 100px;
    height: 100px;
}

.container {
    display: flex;
}

.navbar {
    background-color: #91a886;
    height: 1cm;
    color: #3e4839;
}

.navbartext {
    color: #3e4839;
    transition: transform 0.3s;
    &:hover {
        color: #293026;
        transform: scale(1.2);
    }
}

.tech-stack {
    display: flex;
    gap: 20px;
 }

 .tech-stack i {
    font-size: 2em;
    transition: transform 0.3s;
 }

 .tech-stack i:hover {
    transform: scale(1.2);
 }

 .img {
    height: 2cm;
    width: 2cm;
 }

 .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .timeline {
    height: 300px;
    width: 5px;
    background-color: #e5e5e5;
  }

  .stub1 {
    line-height: 300px;
    font-size: 24px;
    background-color: #eae4e4;
  }

  .stub2 {
    height: 1000px;
  }

  .circle {
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;
    background-color: #e5e5e5;
  }

  .circleWrapper {
    position: relative;
  }

  .message {
    position: absolute;
    top: 20%;
    left: 50%;
    min-width: 150px;
    font-weight: bold;
  }
