.center {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* max-width: 33%;
    max-height: 33%; */
}

.background {
    background-color: #d0f0c0;
}

.box {
    width: 100px;
    height: 100px;
}

.container {
    display: flex;
}

.navbar {
    background-color: #91a886;
    height: 1cm;
    color: #3e4839;
}

.navbartext {
    color: #3e4839;
    transition: transform 0.3s;
    &:hover {
        color: #293026;
        transform: scale(1.2);
    }
}

.tech-stack {
    display: flex;
    gap: 20px;
 }

 .tech-stack i {
    font-size: 2em;
    transition: transform 0.3s;
 }

 .tech-stack i:hover {
    transform: scale(1.2);
 }

 .img {
    height: 2cm;
    width: 2cm;
 }
